@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');



*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
html,
body{
    width: 100%;
    /* border: 1px solid red; */
    scroll-behavior: smooth;
}
body{
    font-family: "Work Sans", sans-serif;
}
ul,
a{
    list-style: none;
    text-decoration: none;
}
img{
    width: 100%;
    height: 100%;
}
span{
    background: linear-gradient(rgb(249, 72, 178),rgb(135, 88, 241));
/* text-transform: uppercase; */
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
.container{
    /* border: 1px solid red; */
    max-width: 1160px;
    margin: auto;
    padding: auto;
    justify-content: center;
    align-items: center;
}
.btn{
    width: 262px;
    height: 56px;
    border-radius: 8px;
    font-weight: 500;
    font-size: 18px;
    border: none;
    color: rgb(60, 53, 79);
    background-color: rgba(11, 2, 35, 0.1);
}



header{
    margin-top: 50px;
}
.nav-section{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-logo{
    width: 254px;
    height: 53px;
    display: flex;
    align-items: center;
    gap: 8px;
}
#nav-image{
    width: 87px;
    height: 41px;

}
.nav-links ul{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 45px;
}
#youtube{
    width: 34px;
    height: 24px;
    color: rgb(246, 28, 13);
}
#tiktok{
    width: 24px;
    height: 24px;
}



.banner-section-container{
    margin-top: 3rem;
    background: linear-gradient(rgba(140, 87, 238, 0.03),rgba(241, 68, 174, 0.03));
}
.banner-section{
    display: flex;
    align-items: center;
    justify-content: space-between;
   column-gap: 5rem;
}
/* .banner-content {
    width: 901px;
    height: 700px;

} */
.banner-content h2{
    width: 348px;
    height: 56px;
    font-weight: 600;
    font-size: 48px;
    color: rgb(11, 2, 35);
}
.banner-content h1{
    /* width: 355px;
    height: 11px; */
    /* color: rgb(255, 66, 165); */
}
.text{
    font-weight: 800;
    font-size: 95px;
    background: linear-gradient(rgb(249, 72, 178),rgb(135, 88, 241));
    text-transform: uppercase;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    /* -webkit-background-color: transparent; */

}
.banner-content ul{
    width: 362px;
    height: 104px;
    font-weight: 400;
    font-size: 20px;
    line-height: 42px;
    /* margin-top: 7rem; */
    color: rgb(83, 76, 100);
    /* border: 1px solid red; */
}
.banner-section-btn{
    margin-top: 40px;
}
.banner-btn{
    width: 156px;
    height: 65px;
    border-radius: 48px;
    border: none;
    font-weight: 600;
    font-size: 20px;
    color: rgb(255, 255, 255);
    background: linear-gradient(rgb(255, 66, 165),rgb(201, 132, 136));
}
#btn-3{
    width: 185px;
    height: 65px;
    background:  linear-gradient(rgb(255, 66, 165),rgb(197, 9, 25));
}
.banner-image{
    width: 720px;
    height: 681px;
}



.second-banner{
    display: flex;
    padding: auto;
    margin-top: 5px;
}
.second-banner-image{
    width: 868px;
    height: 489px;
}
.second-banner-content{
    width: 520px;
    height: 409px;
    text-align: end;
    /* border: 1px solid red; */
}
.second-banner-content h1{
/* width: 325px; */
height: 56px;
font-weight: 700;
font-size: 48px;
background: linear-gradient(rgb(249, 72, 178),rgb(135, 88, 241));
text-transform: uppercase;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;

}
.second-banner-content p{
    font-size: 18px;
    line-height: 25px;
    color: rgb(83, 76, 100);
}
#btn{
    width: 208px;
    height: 64px;
    margin-top: 10px;
}
#banner-text{
    margin-top: 10px;
    font-style: italic;
}



.online-games-card{
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 25px;
    justify-content: center;
}
.online-games-section h1{
    font-weight: 700;
    font-size: 48px;
    margin-top: 120px;
    text-align: center;
    color: rgb(11, 2, 35);
}
.online-games-section p{
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    color: rgb(83, 76, 100);
}


.card{
    width: 380px;
    height: 480px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 1px 2px 3px 5px rgb(245, 237, 237);
    background-color: white;
    /* border: 1px solid red; */
    
}
#img{
    width: 342px;
    height: 400px;
    margin: auto;
}



.downloads-section{
    margin-top: 10rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.downloads-section h1{
    width: 341px;
    height: 180px;
    font-weight: 700;
    font-size: 48px;
    text-align: right;
    color: rgb(11, 2, 35);
}
.downloads-section p{
    width: 353px;
    height: 90px;
    font-weight: 400;
    font-size: 18px;
    text-align: right;
    color: rgb(83, 76, 100);
}
.downloads-section-image{
    width: 634px;
    height: 650px;
    border-radius: 8px;
    position: relative;
}
.downloading-img{
    width: 308px;
    height: 355px;
    padding: 10px;
    border-radius: 8px;
    position: absolute;
    bottom: -92px;
    left: -20%;
}

#downloading-img-2{
    left: 70%;
}
/* #downloads-section-content{
    text-align: center;
} */
#title{
    text-align: left;
}
#title-text{
    text-align: left;
}


.careers-section-container{
    margin-top: 8rem;
    background-color: rgb(255, 66, 165);
}

.careers-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 60px;
}
.careers-section-content{
    width: 680px;
    height: 581px;
    margin-top: 5rem;
}
.careers-section-content h1{
    font-weight: 700;
    font-size: 48px;
    color: rgb(255, 255, 255);
    text-align: left;
}
.careers-section-content p{
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: rgb(255, 255, 255);
}
.careers-section-links{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 25px;
}
.careers-section-links ul > li > a {
    line-height: 30px;
    color: rgb(255, 255, 255);
}

#links{
    text-align: right;
}
button{
    width: 275px;
    height: 65px;
    margin-top: 25px;
    border-radius: 48px;
    border: none;
    font-weight: 600;
    font-size: 20px;
    color: rgb(255, 66, 165);
}